IndentWidth: 2
UseTab: Never
TabWidth: 2
ColumnLimit: 130
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyBreakAssignment: 1000000
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
NamespaceIndentation: All
SortIncludes: true
IncludeCategories:
  # C++ Standard library includes
  - Regex: "^<[a-z0-9_]+>$"
    Priority: 1
  # C Standard library includes
  - Regex: "^<c[a-z0-9_]+>$"
    Priority: 2
  # Windows SDK includes
  - Regex: '^<windows\.h>'
    Priority: 3
  # Other Windows headers
  - Regex: '^<(commctrl|shellapi|shlwapi|prsht|win(user|base|gdi|con|reg|inet|crypt)|.*win.*)\.h>$'
    Priority: 4
  # N-API includes
  - Regex: '^<napi\.h>$'
    Priority: 5
  # Project includes
  - Regex: ".*"
    Priority: 100
